#{extends 'main.html' /}
#{set title:'Home' /}

<div style="width: 400px;margin-left: auto; margin-right: auto;">
	<div id="featLeft">
		<a href="@{Application.desktop()}"><img src="/public/images/login.png" alt="Login" title="Login" />
		<a class="caption" href="@{Application.desktop()}"><h2>Login</h2></a>
	</div>
	<div id="featRight">
		<a href="@{Application.register()}"><img src="/public/images/register.png" alt="Register" title="Register" />
		<a class="caption" href="@{Application.register()}"><h2>Register</h2></a>
	</div>
</div>
