#{extends 'main.html' /}
#{set title:'Home' /}

<div id="siteWrapper" class="container_16"> 
<div id="main"><div id="top"></div>

<div id="header" class="grid_16">
<ul id="mainNav"> 
%{
	perColumn = Math.round(lastSeriesEpisodes.size()/4);
	counter = 0;
	4.times {
}%
	<li class="menu grid_2">
	<ul class="subMenu">
		%{ perColumn.times { }%
			#{if lastSeriesEpisodes.size() > counter}
			%{ cnt = counter++ }%
			<li><a href="@{Application.showSeries(lastSeriesEpisodes.get(cnt).media_id)}" title="${lastSeriesEpisodes.get(cnt).media_title}">${lastSeriesEpisodes.get(cnt).media_title}</a></li>
			#{/if}
		%{ } }%
	</ul>
	</li> 
%{
	}
}%
	</ul>			
</div>

<div id="mainContent" class="grid_9">
		<div class="post postSml clearfix">
		<a href="http://gomiso.com/m/${misoEpisode.media_id}" id="${misoEpisode.media_id}" title="${misoEpisode.title}"><h1>${misoEpisode.title}</h1></a>
		<h2><a href="http://gomiso.com/m/${misoEpisode.media_id}/seasons/${misoEpisode.season_num}/episodes/${misoEpisode.episode_num}" title="See on Miso"><cufon class="cufon cufon-canvas" alt="${misoEpisode.title}" style="width: 34px; height: 16px; "><canvas width="51" height="24" style="width: 51px; height: 24px; top: 0px; left: -5px; "></canvas></cufon></a></h2>
		<img src="${misoCheckin.media_poster_url}" alt="${misoCheckin.media_title}">
		<p class="summary">${misoEpisode.summary}</p>
		<p class="summary"><img style="display: block; margin-left: auto; margin-right: auto;float: none;" src="${misoEpisode.poster_image_url}" alt="${misoEpisode.title}"></p>
		<p class="summary">${misoEpisode.cast}</p>
		<span class="user">${misoCheckin.user_username}</span>
		<span class="date">${misoEpisode.aired_date.format('dd.MM.yyyy','de')}</span>
		<span class="comments"><a href="http://gomiso.com/m/${misoEpisode.media_id}/seasons/${misoEpisode.season_num}/episodes/${misoEpisode.episode_num}" title="See on Miso">${misoEpisode.label}</a></span>
		<a class="readMore" href="@{Application.checkinEpisode(misoEpisode.media_id,misoEpisode.season_num,misoEpisode.episode_num)}"><h2><cufon class="cufon cufon-canvas" alt="Checkin to this Episode" style="width: 36px; height: 16px; "><canvas width="53" height="24" style="width: 53px; height: 24px; top: 0px; left: -5px; "></canvas><cufontext></h2></a>
	</div>
</div>


</div>
</div>

