#{extends 'mainMobile.html' /}
#{set title:'Home' /}

<div data-role="page">

	<div data-role="header">
		<a href="@{Application.desktop()}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left">Home</a> 
		<h1>${misoEpisode.title} - ${misoEpisode.label}</h1> 
		<a href="@{Series.showSeries(misoEpisode.media_id)}" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-right">Back</a> 
	</div>

	<div data-role="content"> 
		<div class="content-primary">
			<p>${misoEpisode.summary}</p>
			<p><img style="display: block; margin-left: auto; margin-right: auto;float: none;" src="${misoEpisode.poster_image_url}" alt="${misoEpisode.title}"></p>
			<p>${misoEpisode.cast}</p>
			<ul data-role="listview" data-inset="true">
				<li>Last Episode: ${misoEpisode.label}</li>
				<li>Aired Date: ${misoEpisode.aired_date.format('dd.MM.yyyy','de')}</li>
				<li><a class="readMore" href="@{Series.checkinEpisode(misoEpisode.media_id,misoEpisode.season_num,misoEpisode.episode_num)}">Checkin to this Episode</a></li>
			</ul>
		</div>
	</div>

	<div data-role="footer" class="footer-docs" data-theme="c"> 
		<p>&copy; 2011 The Hildrim Project</p> 
	</div>	
</div>
